# Configuration file

aurora {
    # Animate Aurora [default: true]
    B:Animate=true

    # Whether to enable Aurora processing on server/client [default: true]
    B:Enabled=true

    # true to keep the aurora at a height above player; false to fix it to an altitude [default: true]
    B:"Height Player Relative"=true

    # Allow Auroras with multiple bands [default: true]
    B:"Multiple Bands"=true

    # Number of blocks to say fixed above player if Aurora is player relative [range: 16.0 ~ 2048.0, default: 64.0]
    S:"Player Fixed Height"=64.0

    # Number of blocks north of player location to spawn an aurora [range: 0 ~ 200, default: 150]
    I:"Spawn Offset"=150
}


biomes {
    # Configuration files for configuring Biome Registry [default: ]
    S:"Config Files" <
     >
}


fog {
    # Enable biome specific fog density and color [default: true]
    B:"Biome Fog"=true

    # Allow desert fog when raining [default: true]
    B:"Desert Fog"=true

    # Visibility factor to apply to desert fog (higher is thicker) [range: 0.0 ~ 5.0, default: 1.0]
    S:"Desert Fog Factor"=1.0

    # Higher the player elevation the more haze that is experienced [default: true]
    B:"Elevation Haze"=true

    # Visibility factor to apply to elevation haze (higher is thicker) [range: 0.0 ~ 5.0, default: 1.0]
    S:"Elevation Haze Factor"=1.0
}


general {
    # Treat dimension ID list as a black list [default: true]
    B:"Black List"=true

    # Default maximum rain strength for a dimension [range: 0.0 ~ 1.0, default: 1.0]
    S:"Default Maximum Rain Strength"=1.0

    # Default minimum rain strength for a dimension [range: 0.0 ~ 1.0, default: 0.0]
    S:"Default Minimum Rain Strength"=0.0

    # Comma separated dimension ID list [default: 1,-1]
    S:Dimensions=1,-1

    # Elevation override for dimensions if needed (dimension,sea level,sky height) [default: ]
    S:"Elevation Overrides" <
     >
}


jets {
    # 1-in-N chance per random tick a bubblejet will spawn in water [range: 300 ~ 2147483647, default: 1800]
    I:"Bubblejet Spawn Chance"=1800

    # Enable bubblejet spawn in water [default: true]
    B:"Bubblejets Enabled"=true

    # 1-in-N chance per random tick a firejet will spawn on lava blocks [range: 300 ~ 2147483647, default: 1800]
    I:"Firejet Spawn Chance"=1800

    # Enable firejet spawn on lava blocks [default: true]
    B:"Firejets Enabled"=true
}


logging {
    # Enables/disables debug logging of the mod [default: false]
    B:"Enable Debug Logging"=false

    # Enables/disables online version checking [default: true]
    B:"Enable Online Version Check"=true
}


rain {
    # Always override Vanilla rain sound even when dimension is blacklisted [default: true]
    B:"Always Override Sound"=true

    # Allow desert dust when raining [default: true]
    B:"Desert Dust"=true

    # Reset rain/thunder when all players sleep [default: true]
    B:"Reset Rain on Sleep"=true

    # Factor to apply to rain sound level to adjust [range: 0.0 ~ 1.0, default: 1.0]
    S:"Sound Level"=1.0
}


sound {

    "ice cracking" {
        # 1-in-N chance for sound spawn [range: 1 ~ 2147483647, default: 10000]
        I:Chance=10000

        # Enable client side sound effect [default: true]
        B:Enabled=true

        # Factor to apply to sound volume [range: 0.0 ~ 5.0, default: 1.0]
        S:"Scaling Factor"=1.0
    }

    "frog croaks" {
        # 1-in-N chance for sound spawn [range: 1 ~ 2147483647, default: 25]
        I:Chance=25

        # Enable client side sound effect [default: true]
        B:Enabled=true

        # Factor to apply to sound volume [range: 0.0 ~ 5.0, default: 1.0]
        S:"Scaling Factor"=1.0
    }

}


