# Configuration file

balancing {
    # Allows Shards to absorb spawners of the same entity type. [default: true]
    B:allowSpawnerAbsorption=true

    # The cooldown time set in "ShardTiers.json" should use seconds instead of ticks. Allows finer control over tiers.
    # 1 second = 20 ticks
    # I suggest not changing this unless you have edited the configs. [default: true]
    B:cooldownUsesSeconds=true

    # Count mobs spawned by a Soul Cage towards Shard kills. [default: true]
    B:countCageBornForShard=false

    # Allows bosses to be spawned. This is probably the worst thing you can do to your instance. [default: false]
    B:enableBosses=false

    # Mobs spawned via a Soul Cage will drop experience upon death. [default: true]
    B:enableExperienceDrop=true

    # Requires the player who put the shard into the Soul Cage to be online for it to be active. [default: false]
    B:requireOwnerOnline=false

    # Combining Shards in an Anvil should require the same entity on both Shards. [default: true]
    B:requireSameEntityForCombining=true

    # Amount of souls to add when absorbing a spawner. [range: 0 ~ 1024, default: 200]
    I:spawnerAbsorptionBonus=128
}


compatibility {
    # The type of spawning mechanic to use for the Soul Cage.
    # Valid values:
    # VANILLA - The standard spawning mechanic.
    # BLOODMAGIC - Requires 100 LP per mob spawned.
    S:compatibilityType=VANILLA

    # Amount of LP required for each mob spawned.
    # If this amount is not contained in the LP network, a nausea effect will be applied to the player and the Soul Cage will stop functioning. [range: 0 ~ 2147483647, default: 250]
    I:lpPerMob=250
}


debug {
    # Allows disabled entities to still be spawned by the cage. They are, however, still not obtainable on a shard. [default: false]
    B:enableBlacklistedSpawning=false
}


enchantments {
    # Amount of bonus kills to provide per enchantment level. [range: 1 ~ 5, default: 1]
    I:soulStealerBonus=1

    # ID for the Soul Stealer enchantment. If you have Enchantment ID conflicts, change this. [range: 63 ~ 256, default: 70]
    I:soulStealerID=70

    # Weight of the Soul Stealer enchantment. Higher values make it more common. [range: 1 ~ 10, default: 3]
    I:soulStealerWeight=3
}


##########################################################################################################
# entity list
#--------------------------------------------------------------------------------------------------------#
# Set an entity to false to disable it's ability to be spawned.
##########################################################################################################

"entity list" {
    B:Bat=true
    B:BiomesOPlenty.butterfly=true
    B:BiomesOPlenty.pixie=true
    B:BiomesOPlenty.snail=true
    B:BiomesOPlenty.wasp=true
    B:Blaze=true
    B:"Botania.botania:pixie"=true
    B:"BuildCraft|Robotics.bcRobot"=true
    B:CaveSpider=true
    B:Chicken=true
    B:Cow=true
    B:Creeper=true
    B:Enderman=true
    B:Endermite=true
    B:EntityHorse=true
    B:Ghast=true
    B:Giant=true
    B:Guardian=true
    B:LavaSlime=true
    B:Mob=true
    B:Monster=true
    B:MushroomCow=true
    B:Ozelot=true
    B:Pig=true
    B:PigZombie=true
    B:PneumaticCraft.Drone=true
    B:PneumaticCraft.logisticDrone=true
    B:Rabbit=true
    B:RandomThings.spirit=true
    B:Sheep=true
    B:Silverfish=true
    B:Skeleton=true
    B:Slime=true
    B:SnowMan=true
    B:Spider=true
    B:Squid=true
    B:Thaumcraft.BrainyZombie=true
    B:Thaumcraft.CultistCleric=true
    B:Thaumcraft.CultistKnight=true
    B:Thaumcraft.CultistPortalLesser=true
    B:Thaumcraft.EldritchCrab=true
    B:Thaumcraft.EldritchGuardian=true
    B:Thaumcraft.Firebat=true
    B:Thaumcraft.GiantBrainyZombie=true
    B:Thaumcraft.Golem=true
    B:Thaumcraft.InhabitedZombie=true
    B:Thaumcraft.MindSpider=true
    B:Thaumcraft.NodeMagnet=true
    B:Thaumcraft.Pech=true
    B:Thaumcraft.TaintCrawler=true
    B:Thaumcraft.TaintSwarm=true
    B:Thaumcraft.Taintacle=true
    B:Thaumcraft.TaintacleTiny=true
    B:Thaumcraft.TaintedChicken=true
    B:Thaumcraft.TaintedCow=true
    B:Thaumcraft.TaintedCreeper=true
    B:Thaumcraft.TaintedPig=true
    B:Thaumcraft.TaintedRabbit=true
    B:Thaumcraft.TaintedSheep=true
    B:Thaumcraft.TaintedVillager=true
    B:Thaumcraft.ThaumSlime=true
    B:Thaumcraft.TurretAdvanced=true
    B:Thaumcraft.TurretBasic=true
    B:Thaumcraft.TurretEldritch=true
    B:Thaumcraft.TurretFocus=true
    B:Thaumcraft.Wisp=true
    B:Villager=true
    B:VillagerGolem=true
    B:Witch=true
    B:"Wither Skeleton"=true
    B:Wolf=true
    B:Zombie=true
    B:foundry.gunSkeleton=true
    B:intangible.clone=true
    B:intangible.earthgolem=true
    B:intangible.hollowirongolem=true
    B:intangible.knowledgegem=true
    B:intangible.pigvillager=true
    B:intangible.reaper=true
    B:intangible.soul=true
    B:intangible.spiderblock=true
    B:intangible.spikeball=true
    B:intangible.tool=true
    B:intangible.wreckinggolem=true
    B:miab.BillCipher=true
    B:miab.DogeWolf=true
    B:miab.Donaldtrump=true
    B:miab.EduardKhil=true
    B:miab.GrumpyCat=true
    B:miab.JohnCena=true
    B:paintthis.Easel=true
    B:randomthings.spirit=true
    B:tconstruct.blueslime=true
    B:testdummy.Dummy=true
    B:totemic.buffalo=true
}


general {
    # Displays a durability bar on the shard as an indicator on how close to maxed it is [default: true]
    B:displayDurabilityBar=true

    # Max amount of mobs spawned by a given spawner in a 16 block radius. [range: 0 ~ 256, default: 30]
    I:spawnCap=30
}


tiers {

    "tier 1" {
        I:amountToSpawn=2
        B:followLightLevel=true
        I:minimumKills=64
        B:redstoneControl=false
        B:requirePlayer=true
        I:spawnCooldown=20
    }

    "tier 2" {
        I:amountToSpawn=4
        B:followLightLevel=true
        I:minimumKills=128
        B:redstoneControl=false
        B:requirePlayer=true
        I:spawnCooldown=10
    }

    "tier 3" {
        I:amountToSpawn=4
        B:followLightLevel=true
        I:minimumKills=256
        B:redstoneControl=false
        B:requirePlayer=false
        I:spawnCooldown=5
    }

    "tier 4" {
        I:amountToSpawn=4
        B:followLightLevel=true
        I:minimumKills=512
        B:redstoneControl=false
        B:requirePlayer=false
        I:spawnCooldown=5
    }

    "tier 5" {
        I:amountToSpawn=6
        B:followLightLevel=false
        I:minimumKills=1024
        B:redstoneControl=true
        B:requirePlayer=false
        I:spawnCooldown=2
    }

}


