# Configuration file

block {
    # Enable/disable Coke Oven block [default: true]
    B:coke_oven=true
}


debug {
    # Enable debug logging. [default: false]
    B:debug=false
}


##########################################################################################################
# hardcore
#--------------------------------------------------------------------------------------------------------#
# These settings increase the game harder by altering vanilla recipes.
##########################################################################################################

hardcore {
    # Remove 9 ingots to block crafting recipes. [default: false]
    B:remove_block_from_ingots=false

    # Remove 9 nuggets to ingot crafting recipes. [default: false]
    B:remove_ingot_from_nuggets=false

    # Remove furnace recipes that produce ingots. [default: false]
    B:remove_ingots_from_furnace.enable=false

    # Material names of ingots to keep furnace recipes (case sensitive). [default: [Copper], [Tin], [Zinc], [Bronze], [Brass], [Lead]]
    S:remove_ingots_from_furnace.keep <
        Copper
        Tin
        Zinc
        Bronze
        Brass
        Lead
     >
}


integration {
    B:enable.botania=true
    B:enable.thaumcraft=true
    B:thaumcraft.gears=true
    B:thaumcraft.plates=true

    minetweaker {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

    ticon {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

    moltenmetalfluids {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

    enderio {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

    botania {
        # Enable/disable mod integration. [default: true]
        B:enable=true
    }

}


legacy {
    B:legacy_items_enable=false
    B:legacy_register_oredict=false
}


recipes {
    # Enable/disable alumina melting directly into aluminium. [default: false]
    B:alumina_melts_to_aluminium=false

    # Enable/disable casting recipes for equipment [default: true]
    B:equipment=true

    # Enable/disable glass melting and casting recipes [default: true]
    B:glass=true

    # Enable/disable steel infuser recipes [default: true]
    B:steel=true
}


thaumcraft {

    liquidshards {
        B:integration=true
    }

}


worldgen {
    B:copper=true
    B:lead=true
    B:nickel=true
    B:silver=true
    B:tin=true
    B:zinc=true
}


