# Configuration file

features {
    # TRIES to remove the weird water texture showing around ALL non full blocks. This might look weird when you, for example, are on a ladder underwater. [default: false]
    B:RemoveUnderwaterTexture=false
}


