# Configuration file

##########################################################################################################
# general
#--------------------------------------------------------------------------------------------------------#
# Reptile Mod Config
#  Michael Sheppard (crackedEgg)
#  For Minecraft Version 1.8.0
##########################################################################################################

general {
    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:chameleonSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:crocMonitorSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:crocSpawnProb=5

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:desertTortoiseSpawnProb=12

    # Set to false to not despawn. default is true.
    B:despawn=true

    # Set to false to have tamed monitors not follow owner, default is true.
    B:followOwner=true

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:gatorSpawnProb=5

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:griseusSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:iguanaSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:komodoSpawnProb=10

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:laceSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:largeCrocSpawnProb=4

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:littleTurtleSpawnProb=10

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:megalaniaSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:perentieSpawnProb=12

    # Set to false to disable random scaling of monitors, default is true.
    B:randomScale=true

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:savannaSpawnProb=12

    # Spawn Probability
    # Set to zero to disable spawning of this entity
    I:tortoiseSpawnProb=12
}


