# Configuration file

options {
    D:"Alarm sound volume:"=0.8
    B:"Are mines unbreakable?"=true
    I:"Camera Speed when not using LookingGlass:"=2
    I:"Claymore range:"=5
    B:"Craftable Limited Use keycard?"=true
    B:"Craftable level 1 keycard?"=true
    B:"Craftable level 2 keycard?"=true
    B:"Craftable level 3 keycard?"=true
    B:"Craftable level 4 keycard?"=true
    B:"Craftable level 5 keycard?"=true
    I:"Delay between alarm sounds (seconds):"=2
    B:"Disconnect IRC bot on world exited?"=true
    B:"Display a 'tip' message at spawn?"=true
    I:"IMS range:"=12
    B:"Is IRC bot enabled?"=true
    B:"Is admin tool allowed?"=false
    B:"Is codebreaker allowed?"=true
    B:"Is debug mode? (not recommended!)"=false
    I:"Laser range:"=5
    B:"Mine(s) spawn fire when detonated?"=true
    B:"Mines explode when broken in Creative?"=true
    B:"Mines use a smaller explosion?"=false
    I:"Portable radar delay (seconds):"=4
    I:"Portable radar search radius:"=25
    B:"Use old keypad recipe (9 buttons)?"=false
    I:"Username logger search radius:"=3
}


