# Configuration file

client {
    # horizontal position of the ceremony HUD (offset from center of the screen)
    I:ceremonyHudPositionX=0

    # vertical position of the ceremony HUD (offset from center of the screen)
    I:ceremonyHudPositionY=-70
}


