# Configuration file

general {
    # Enable the Carrot Soup crafting recipe?  true/false (true is the default)
    B:enableCarrotSoupRecipe=true

    # Enable the Egg --> Fried Egg smelting recipe?  true/false (true is the default)
    B:enableFriedEggRecipe=true

    # Allow squid to drop raw squid?  true/false (true is the default)
    B:enableRawSquidDrops=true
}


