# Configuration file

balance {
    B:enableFakePlayerMining=true
    B:enableSeedPouches=true
}


compat {

    bloodmagic {
        B:enableBloodMagicAutomation=true
    }

    neotech {
        B:blacklistNeoTechAccelerator=true
    }

    torcherino {
        B:blacklistTorcherinoAccelerator=true
    }

}


crafting {
    B:enablePouchCrafting=true
    B:enableSeedCrafting=true
    B:enableShardCrafting=true
}


general {
    B:enableConsoleLogging=true
    B:enableRightClickHarvest=true
    B:forceAddDuplicates=false

    balance {
        # Allows ore to be mined by Quarries and Miners
        # Default: true
        B:enableFakePlayerMining=true
    }

    compatibility {
        # Allows the Reap of the Harvest Moon to harvest crops.
        # Default: true
        B:enableBloodMagicAutomation=true

        # Allows the Farming Station to harvest crops.
        # Default: true
        B:enableEnderIOAutomation=true
    }

    crafting {
        # The default recipe format to use for all outputs.
        # Valid values: chest, cross, two_by_two, 2x2, three_by_three, 3x3
        # You can also provide a custom shape with each line marked with a #. eg: SSS#S S#SSS for a chest shape.
        # Default: chest
        S:defaultRecipeShape=chest

        # Allows crafting of seeds into pouches. Disable if you wish to use custom recipes.
        # Default: true
        B:enablePouchCrafting=true

        # Allows crafting of materials into seeds. Disable if you wish to use custom recipes.
        # Default: true
        B:enableSeedCrafting=true

        # Allows crafting of shards into materials. Disable if you wish to use custom recipes.
        # Default: true
        B:enableShardCrafting=true
    }

    miscellaneous {
        # Enables extra information being printed to the console.
        # Default: false
        B:debugLogging=false
    }

    world {
        # Allows Gaianite Ore to generate in the world.
        # Use a third party mod such as O.R.E. to modify generation values.
        # Default: true
        B:enableWorldGeneration=true
    }

}


world {
    B:enableWorldGeneration=true
}


