# Configuration file

debug {
    # If true extra lines will be printed to the console about things that are happening.
    B:debugLogging=false
}


general {
    # If this value is true anonymous statistics about any MattDahEpic mods and their versions you are running will be sent to the author through Google Analytics.
    B:reportUsageStats=true

    # Enable update checking for mods that implement MattDahEpic Core?
    B:updateCheckEnabled=true
}


tweaks {
    # If true, you can sleep through the day to the next night.
    # False is vanilla behaviour.
    B:sleepDuringDayChangesToNight=false

    # If true, water bottles will fill cauldrons by 1 level.
    # False is vanilla behaviour.
    B:waterBottlesFillCauldrons=true

    # If true, water will wash away redstone.
    # True is vanilla behaviour.
    B:waterBreaksRedstone=true
}


