# Configuration file

options {
    B:"Creepers can drop records when killed by skeletons?"=true
    B:"Creepers drop any type of record (vanilla or modded) when killed by skeletons?"=true
}


##########################################################################################################
# records
#--------------------------------------------------------------------------------------------------------#
# To add new records, you will have to do 4 things:
# 1.) Add a .ogg sound file to the resource pack in the assets/lootplusplus/sounds/records folder.
# 
# 2.) Add a .json model file to the resource pack in the assets/lootplusplus/models/item folder.
# 
# 3.) Edit the sounds.json file in the resource pack, adding a new entry in the form:
#   "records.<record name>": {
#     "category": "record",
#     "sounds": [
#       {
#         "name": "records/<record name>",
#         "stream": true
#       }
#     ]
#   }
# where <record name> is the name of the ogg file (withough .ogg)
# 
# 4.) Add an entry to this list in the form <record name>-<description>,
# where the record name is the name of the ogg file (without .ogg) and the model file
# (without .json). The description is what will display when the record plays.
# 
# The resource pack you can download has records for all the default music.
# Don't forget to load in and edit the resource pack!
# 
# The following are already set up correctly in the resource pack. You can add each
# line to the list below as examples (delete the # in front of them).
# 
# creative1-C418 - Biome Fest
# creative2-C418 - Blind Spots
# creative3-C418 - Haunt Muskie
# creative4-C418 - Aria Math
# creative5-C418 - Dreiton
# creative6-C418 - Taswell
# end-C418 - The End
# credits-C418 - Alpha
# nether1-C418 - Concrete Halls
# nether2-C418 - Dead Voxel
# nether3-C418 - Warmth
# nether4-C418 - Ballad of the Cats
# menu1-C418 - Mutation
# menu2-C418 - Moog City 2
# menu3-C418 - Beginning 2
# menu4-C418 - Floating Trees
# calm1-C418 - Minecraft
# calm2-C418 - Clark
# calm3-C418 - Sweden
# hal1-C418 - Subwoofer Lullaby
# hal2-C418 - Living Mice
# hal3-C418 - Haggstrom
# hal4-C418 - Danny
# nuance1-C418 - Key
# nuance2-C418 - Oxygï¿½ne
# piano1-C418 - Dry Hands
# piano2-C418 - Wet Hands
# piano3-C418 - Mice on Venus
##########################################################################################################

records {
    S:"List of records:" <
     >
}


