# Configuration file

chunkloader {
    # Max Chunks (squared) to keep loaded per Chunk Loader
    I:chunkLoaderMax=3
}


"fertilizer blacklist" {
    # Format MODID:BLOCKNAME 1 per Line
    S:"Blocks to Blacklist from Being Fertilized" <
        
     >
}


"show if neotech is outdated?" {
    B:"Version Check"=true
}


"world generation" {
    # Generate Copper
    B:copperEnable=true

    # Copper Max Level
    I:copperMax=70

    # Copper Min Level
    I:copperMin=40

    # Copper Vein Size
    I:copperVeinSize=12

    # Copper Veins per Chunk
    I:copperVeinsPerChunk=6

    # Generate Tin
    B:tinEnable=true

    # Tin Max Level
    I:tinMax=50

    # Tin Min Level
    I:tinMin=20

    # Tin Vein Size
    I:tinVeinSize=12

    # Tin Veins per Chunk
    I:tinVeinsPerChunk=6
}


