# Configuration file

"copper ore generation" {
    I:"Copper Max Level"=70
    I:"Copper Min Level"=40
    I:"Copper Vein Size"=12
    I:"Copper Veins per Chunk"=6
}


"ore generation" {
    B:"Generate Copper"=false
    B:"Generate Tin"=false
}


"tin ore generation" {
    I:"Tin Max Level"=50
    I:"Tin Min Level"=20
    I:"Tin Vein Size"=12
    I:"Tin Veins per Chunk"=6
}


